run = "npm run dev"
modules = ["nodejs-20", "python-3.11"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 8031
externalPort = 9000

[[ports]]
localPort = 8060
externalPort = 6000

[[ports]]
localPort = 8356
externalPort = 5000

[[ports]]
localPort = 8370
externalPort = 8000

[[ports]]
localPort = 8392
externalPort = 5173

[[ports]]
localPort = 8532
externalPort = 8080

[[ports]]
localPort = 8676
externalPort = 8099

[[ports]]
localPort = 8684
externalPort = 4200

[[ports]]
localPort = 8687
externalPort = 3003

[[ports]]
localPort = 8868
externalPort = 8081

[[ports]]
localPort = 8902
externalPort = 6800

[[ports]]
localPort = 8965
externalPort = 8008

[[ports]]
localPort = 43019
externalPort = 3001

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.cjs"
waitForPort = 3000
