run = "npm run start"
entrypoint = "server.js"
modules = ["nodejs-20", "python-3.11"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[env]
PORT = "8080"
NODE_ENV = "production"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[unitTest]
language = "nodejs"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3002
